html {
    font-family: 'Darumadrop One', cursive;
    background-color: #b6e5e3;
    }

    body {
        width: 600px;
        margin: 2em auto;
        background-color: #f3ff94;
        padding: 0 50px 50px 50px;
        border: 5px solid rgb(0, 0, 0);
        }

    h1 {
        font-size: 60px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        color: #b6e5e3;
        text-shadow: 3px 3px 5px black;
        }
      
    p,
    li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
        }  

    img {
        display: block;
        margin: 0 auto;
        width: 400px;
        }
      
         